<%- include('../../port/layout-start', {title: title}) %>
<%- include('../../port/menu', {isAuthorized: isAuthorized}) %>
	
	<h1><%= title %></h1>
	
	<%# login form %>
	<%- include('../forms/login-form') %>
	
<%- include('../../port/layout-end') %>
