<%- include('../../port/layout-start', {title: title}) %>
<%- include('../../port/menu', {isAuthorized: isAuthorized}) %>

<p>
  <b>ID:</b> <%= user.id %><br />
  <b>Username:</b> <%= user.username %><br />
  <b>Name:</b> <%= user.nickname %><br />
</p>
<a href="/api/user/logout">Выйти</a>

<%- include('../../port/layout-end') %>
